<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <h1>Studios</h1><br>
  <div>
    <% @shelters.each do |shelter| %>
      <ul><h3><%= shelter.name %></h3></ul>
      <% shelter.each do |pet| %>
        <ul><h4><%= pet.name %></h4></ul>
      <% end %>
    <% end %>
  </div>

</body>
</html>